@model WebColliersCore.Models.B_inmuebles_expediente;

<header>
    @*    <meta http-equiv='cache-control' content='no-cache'>
    *@
</header>

<body onload="OnLoad()">

    <h4>Registro de visita</h4>
    <hr />
    <div class="form-group col-md-10" style="background-color:lightblue">
        <partial name="Inmueble" model="Model.b_inmuebles" />
    </div>

    @*    enctype="multipart/form-data"
    *@
    <div class="form-group col-md-10">
        <form onsubmit="return OnSubmit()" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <hr />
            
            <h5>Proyecto cuida y mejora</h5>

              <div class="form-group col-md-4">
                <label asp-for="b_cg_tipo_expediente_contratos[0].sub_categoria" class="control-label"></label>
                <input type="file" onChange="return SaveImage('input_circundante_poniente', '@Model.b_cg_tipo_expediente_contratos[0].sub_categoria','circundante_poniente','#div_circundante_poniente')" id="input_circundante_poniente" accept="image/png, .jpeg, .jpg, image/gif" class="form-control" />
                <input hidden id="input2_circundante_poniente" asp-for="b_cg_tipo_expediente_contratos[0].sub_categoria" class="form-control" />
                <span asp-validation-for="b_cg_tipo_expediente_contratos[0].sub_categoria" class="text-danger"></span>
                    @* <div class="form-group form-check col-md-12" style="padding-left:25px">
                    <label class="form-check-label">
                    <input onchange="return SaveImage()" class="form-check-input" asp-for="ckcircundante_poniente" /> @Html.DisplayNameFor(model => model.ckcircundante_poniente)
                    </label>
                    </div>*@
                    <div id="div_circundante_poniente" class="col-md-12">
                    @if (Model.b_cg_tipo_expediente_contratos[0].sub_categoria != null && Model.b_cg_tipo_expediente_contratos[0].sub_categoria.Length > 4)
                        {
                        <img src="/Images/precarga/@Model.b_cg_tipo_expediente_contratos[0].sub_categoria/@Model.b_cg_tipo_expediente_contratos[0].sub_categoria" class="img-fluid" style="height:100px" />
                        }
                    </div>
                </div>
        </form>




    </div>



    <hr />

    <div>
        <a asp-action="Index">Regresar</a>
    </div>

</body>


<script type="text/javascript">

    function OnLoad() {
        ActualizaServicio();
        MostrarDireccion();
        SumaAnuncios();
        AireAcondicionado();
        CambioConservacion();
        CambioAreasConvivencia();
        $('#inputGuardar').removeAttr('disabled');
        OnChangeEspecial();

    }

    function CambioAreasConvivencia() {
        try {
            var aux = $("#select_areas_convivencia option:selected").val();
            if (aux == 'Si')
                $("#div_areas_convivencia_desc").show();
            else
            {
                $("#div_areas_convivencia_desc").hide();
                $("#input_areas_convivencia_desc").val("");
            }
        } catch (error) {
            console.error(error);
        }
    }


    function OnSubmit() {
        $('#inputGuardar').prop('disabled', true);

        var aux = $("#input_m2_sucursal_precio").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_sucursal_precio").val(aux);

        aux = $("#input_contrato_renta").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_contrato_renta").val(aux);

        aux = $("#input_m2_totales").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_totales").val(aux);

        aux = $("#input_m2_terreno").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_terreno").val(aux);

        aux = $("#input_area_rentable").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_area_rentable").val(aux);

        aux = $("#input_m2_construccion").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_construccion").val(aux);

        aux = $("#input_superficie_estacionamiento").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_superficie_estacionamiento").val(aux);


        aux = $("#input_m2_rango_inf3").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_rango_inf3").val(aux);

        aux = $("#input_m2_rango_sup3").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        $("#input_m2_rango_sup3").val(aux);


        try {
            aux = $("#input_m2_rango_inf2").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
            $("#input_m2_rango_inf2").val(aux);

            aux = $("#input_m2_rango_sup2").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
            $("#input_m2_rango_sup2").val(aux);

            aux = $("#input_valor_comercial").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
            $("#input_valor_comercial").val(aux);

        } catch (error) {
            console.error(error);
            // Expected output: ReferenceError: nonExistentFunction is not defined
            // (Note: the exact output may be browser-dependent)
        }

        try {
            aux = $("#input_m2_rango_inf").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
            $("#input_m2_rango_inf").val(aux);

            aux = $("#input_m2_rango_sup").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
            $("#input_m2_rango_sup").val(aux);
        } catch (error) {
            console.error(error);
            // Expected output: ReferenceError: nonExistentFunction is not defined
            // (Note: the exact output may be browser-dependent)
        }



        $('#inputGuardar').removeAttr('disabled');

    }
    function OnChangeEspecialOtro() {
        var aux2 = document.getElementById("chk_especial_12").checked;
        if (aux2)
            $("#div_especial_otro").show();
        else
            $("#div_especial_otro").hide();
    }

    function OnChangeEspecial() {
        var aux = document.getElementById("input_especial").checked;


        if (aux) {
            $("#div_especial").show();

            OnChangeEspecialOtro();
        }
        else
            $("#div_especial").hide();
    }


    function AireAcondicionado() {
        var aux = document.getElementById("input_aire_acondicionado").checked;

        if (aux)
            $("#div_aire_acondicionado2").show();
        else
            $("#div_aire_acondicionado2").hide();
    }

    function CambioConservacion() {
        var aux = $("#select_id_b_cg_conservacion option:selected").val();
        if (aux >= 2)
            $("#div_mantenimiento").show();
        else
            $("#div_mantenimiento").hide();
    }

    function calculaM2() {
        var total = 0;
        var a1 = parseInt($("#input_contrato_renta").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2'));
        var a2 = parseInt($("#input_m2_totales").val().replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2'));
        if (a2 != 0)
            total = a1 / a2;
        $("#input_m2_sucursal_precio").val(total.toFixed(2));
    }

    function ActualizaServicio() {
        var total = 0;
        var a1 = parseInt($("#input_practicajas").val());
        var a2 = parseInt($("#input_practicajas_servicio").val());
        total = a1 - a2;
        $("#input_practicajas_diferencia").val(total);

        var b1 = parseInt($("#input_ventanillas").val());
        var b2 = parseInt($("#input_ventanillas_servicio").val());
        total = b1 - b2;
        $("#input_ventanillas_diferencia").val(total);

        var c1 = parseInt($("#input_cajeros_automaticos").val());
        var c2 = parseInt($("#input_cajeros_automaticos_servicio").val());
        total = c1 - c2;
        $("#input_cajeros_automaticos_diferencia").val(total);

        var d1 = parseInt($("#input_cajones_estacionamiento").val());
        var d2 = parseInt($("#input_cajones_estacionamiento_servicio").val());
        total = d1 - d2;
        $("#input_cajones_estacionamiento_diferencia").val(total);

        var c1 = parseInt($("#input_cajones_estacionamiento_ejecutivo").val());
        var c2 = parseInt($("#input_cajones_estacionamiento_ejecutivo_servicio").val());
        total = c1 - c2;
        $("#input_cajones_estacionamiento_ejecutivo_diferencia").val(total);
    }


    function SaveImage(id, idInmueble, nameArchivo, NameDiv) {
        var input = document.getElementById(id);
        var files = input.files;
        var formData = new FormData();
        var input2 = '#input2_' + nameArchivo;
        var ext = input.files[0].name.split('.').pop();;//input.files[0].type;
        $(NameDiv).empty();
        const d = new Date();
        var fecha = " " + d.getFullYear() + ("0" + (d.getMonth() + 1)).slice(-2) + ("0" + d.getDate()).slice(-2) + ("0" + d.getHours()).slice(-2) + ("0" + d.getMinutes()).slice(-2) + ("0" + d.getSeconds()).slice(-2);

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }
        formData.append("idInmueble", idInmueble);
        formData.append("nameArchivo", nameArchivo + fecha);

        $.ajax({
            type: "POST",
            url: "/B_inmuebles_visitas/UploadFiles",
            data: formData, // In the controller it receives IFormFile image
            processData: false,
            contentType: false,
            success: function (result) {
                $(NameDiv).html(result);
                $(input2).val(nameArchivo + fecha + '.' + ext);
            },
            error: function (errorMessage) {
                alert(errorMessage);
            }
        });

    }

    function SumaAnuncios() {

        var total = 0;
        var a1 = parseInt($("#input_marquesina").val());
        var a2 = parseInt($("#input_letras_rotuladas").val());
        var a3 = parseInt($("#input_bandera").val());
        var a4 = parseInt($("#input_paleta").val());
        var a5 = parseInt($("#input_unipolar").val());
        var a6 = parseInt($("#input_totem").val());
        total = a1 + a2 + a3 + a4 + a5 + a6;
        $("#input_no_anuncios").val(total);
    }

    function MostrarDireccion() {
        var medidor = $("#select_medidor option:selected").text();
        var agua = $("#select_agua_toma option:selected").text();

        if (medidor == 'No' || medidor == 'N/A') {
            document.getElementById('input_medidor_direccion').readOnly = true;
            document.getElementById('input_medidor_direccion').value = '';
        }
        else {
            document.getElementById('input_medidor_direccion').readOnly = false;
        }

        if (agua == 'No' || agua == 'N/A') {
            document.getElementById('input_agua_toma_direccion').readOnly = true;
            document.getElementById('input_agua_toma_direccion').value = '';
        }
        else
            document.getElementById('input_agua_toma_direccion').readOnly = false;
    }

    //Moneda y numero
    function formatCurrency(input) {
        var value = input.value.replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2').replace(/^0+/, '').replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
        if (value.length == 0)
            value = '0';
        input.value = '$' + value;
    }
    function formatNumber(input) {
        var value = input.value.replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2').replace(/^0+/, '').replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
        if (value.length == 0)
            value = '0';
        input.value = value;
    }

    function formatRemove(input) {
        const value = input.value.replace(/\D/g, "").replace(/([0-9])([0-9]{2})$/, '$1.$2');
        input.value = value;
    }



</script>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
