@model WebLomelinCore.Models.FilesXml

<form asp-action="ImportarXML" asp-controller="ComprobanteServicios" method="post" id="formXml" name="formXml" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file" class="form-label">Selecciona archivo XML:</label>
        <input type="file" class="form-control" name="file" accept=".xml" required />
    </div>
    <button type="submit" class="btn btn-primary">Subir y procesar</button>
</form>