@model WebColliersCore.Models.B_inmuebles


<h6>Información del inmueble</h6>
<hr />
<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="nombre" class="control-label"></label>
        <input readonly asp-for="nombre" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label asp-for="cr" class="control-label"></label>
        <input readonly asp-for="cr" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ue" class="control-label"></label>
        <input readonly asp-for="ue" class="form-control" />
    </div>
</div>



