@model WebColliersCore.Models.B_inmuebles




<h6>Información del Inmueble</h6>
<hr />
<div class="form-row">
    <div class="form-group col-md-2">
        <label asp-for="cr" class="control-label"></label>
        <input readonly asp-for="cr" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="ue" class="control-label"></label>
        <input readonly asp-for="ue" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label asp-for="nombre" class="control-label"></label>
        <input readonly asp-for="nombre" class="form-control" />
    </div>    
</div>

<h6>Ubicación del inmueble</h6>
<hr />
<div class="form-row">   
    <div class="form-group col-md-3">
        <label asp-for="direccion" class="control-label"></label>
        <input readonly asp-for="direccion" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="noext" class="control-label"></label>
        <input readonly asp-for="noext" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="lote" class="control-label"></label>
        <input readonly asp-for="lote" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="manzana" class="control-label"></label>
        <input readonly asp-for="manzana" class="form-control" />
    </div>
   @*  <div class="form-group col-md-3">
        <label asp-for="referencia_calle" class="control-label"></label>
        <input readonly asp-for="referencia_calle" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label asp-for="referencia_calle2" class="control-label"></label>
        <input readonly asp-for="referencia_calle2" class="form-control" />
    </div> *@
    <div class="form-group col-md-3">
        <label asp-for="colonia" class="control-label"></label>
        <input readonly asp-for="colonia" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label asp-for="municipio" class="control-label"></label>
        <input readonly asp-for="municipio" class="form-control" />
    </div>

    <div class="form-group col-md-2">
        <label asp-for="cp" class="control-label"></label>
        <input readonly asp-for="cp" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label asp-for="estado" class="control-label"></label>
        <input readonly asp-for="estado" class="form-control" />
    </div>   
</div>



